.fancy-header {
    color: limegreen;
    font-size: xx-large;
}
.fancy-header { text-align: center;
}
p {
    color: rgb(21,105,133);
}
#container h1, h2 {
    color: lime;
}
h2 {
    text-decoration: underline;
    color: rgb(21,105,133);
    font-size: xx-large;
}
h3 {
    font-size: xx-large;
    font-style: unset;
    color: rgb(21,105,133);
}
body {
    background-color: black;

}
table {
    color: white;
}
ol {
    list-style: circle;
    color: white;
}
/* mouse over link (:hover) */
a:hover {
    color: yellow;
}
ul {
    list-style-type: square;
    color: white;
}
html {
    font-style: italic;
    font-family: 'Shadows Into Light', cursive;
}
td, tr {
    padding: 1em;
}
