.fancy-header {
    color: orangered;
}
.fancy-header { text-align: center;
}
#container h1, h2 {
    color: limegreen;
}
h2 {
    text-decoration: underline
}
body {
    background-color: darkgrey;
    background-image: url(../img/beach-island-maldives-1430677.jpg);
}
ol {
    list-style: circle;
    color: white;
}
ul {
    list-style-type: square;
}
html {
    font-style: italic;
    font-family: 'Shadows Into Light', cursive;
}
td, tr {
    padding: 1em;
}
/* mouse over link (:hover) */
a:hover {
    color: #ffff00;
}